In [3]:
import pandas as pd

In [8]:
path=r'C:\Users\Jayanth.Appalla\Desktop\Sales details with delivery.xlsx'

In [11]:
sales_data=pd.read_excel(path,0) # first way of reading it.

In [12]:
sales_data

,Sales Organization,Distribution Channel,Division,Sales Office,Sales Document,Item,Sales document type,Document Date,Delivery,Item.1,...,Freight Text,Payment Terms,Incoterms,Incoterms (Part 2),LR No. Text,Transporter Text,Plant,Plant Name,Storage location,Storage Loc.Text
0,1000,30,19,ZUTA,1400000000,20,ZDOM,2019-01-16,7100000450,10,...,NaN,Z001,EXW,Ex-Works,NaN,NaN,1003,Ghaziabad-DHONI,NaN,NaN
1,1000,30,11,ZUTD,1400000001,10,ZDOM,2019-01-16,7100000055,10,...,TO PAY,Z003,EXW,Ex-Works,NaN,AVN FREIGHT,1002,Ambernath-DHONI,NaN,NaN
2,1000,30,11,ZUTD,1400000001,10,ZDOM,2019-01-16,7100000030,10,...,TO PAY,Z003,EXW,Ex-Works,NaN,AVN FREIGHT,1002,Ambernath-DHONI,NaN,NaN
3,1000,10,11,ZUTD,1400000002,10,ZDOM,2019-01-16,7100000447,10,...,TO PAY,Z003,EXW,Ex-Works,NaN,SELF,1002,Ambernath-DHONI,NaN,NaN
4,1000,10,11,ZUTM,1400000003,10,ZDOM,2019-01-16,7100000029,10,...,TO PAY,Z003,EXW,Ex-Works,NaN,STC,1002,Ambernath-DHONI,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3425,1000,30,21,ZUPT,2800000008,30,ZSRP,2019-03-17,7100001496,30,...,To Pay,0001,EXW,EX-WORKS,Self,Self,1002,Ambernath-DHONI,NaN,NaN
3426,1000,30,21,ZUPT,2800000008,50,ZSRP,2019-03-17,7100001766,20,...,TO PAY,0001,EXW,EX-WORKS,SELF,SELF,1002,Ambernath-DHONI,NaN,NaN
3427,1000,30,21,ZUTD,2800000009,10,ZSRP,2019-03-18,7100001505,10,...,TO PAY,0001,EXW,EX-WORKS,NaN,SELF,1001,Sikandrabad-DHONI,NaN,NaN
3428,1000,30,21,ZUPT,2800000010,10,ZSRP,2019-03-25,7100001664,10,...,TO PAY,0001,EXW,EX-WORKS,SELF,SELF,1002,Ambernath-DHONI,NaN,NaN
3429,1000,30,21,ZUTD,2800000011,10,ZSRP,2019-03-28,7100001773,10,...,TO PAY,0001,EXW,EX-WORKS,NaN,SELF,1001,Sikandrabad-DHONI,NaN,NaN

In [15]:
xl_file=pd.ExcelFile(path) #2nd way of reading it. Read the entire workbook and then parse the sheet we want.

In [18]:
sales_data=xl_file.parse('Sheet1')

In [19]:
sales_data

,Sales Organization,Distribution Channel,Division,Sales Office,Sales Document,Item,Sales document type,Document Date,Delivery,Item.1,...,Freight Text,Payment Terms,Incoterms,Incoterms (Part 2),LR No. Text,Transporter Text,Plant,Plant Name,Storage location,Storage Loc.Text
0,1000,30,19,ZUTA,1400000000,20,ZDOM,2019-01-16,7100000450,10,...,NaN,Z001,EXW,Ex-Works,NaN,NaN,1003,Ghaziabad-DHONI,NaN,NaN
1,1000,30,11,ZUTD,1400000001,10,ZDOM,2019-01-16,7100000055,10,...,TO PAY,Z003,EXW,Ex-Works,NaN,AVN FREIGHT,1002,Ambernath-DHONI,NaN,NaN
2,1000,30,11,ZUTD,1400000001,10,ZDOM,2019-01-16,7100000030,10,...,TO PAY,Z003,EXW,Ex-Works,NaN,AVN FREIGHT,1002,Ambernath-DHONI,NaN,NaN
3,1000,10,11,ZUTD,1400000002,10,ZDOM,2019-01-16,7100000447,10,...,TO PAY,Z003,EXW,Ex-Works,NaN,SELF,1002,Ambernath-DHONI,NaN,NaN
4,1000,10,11,ZUTM,1400000003,10,ZDOM,2019-01-16,7100000029,10,...,TO PAY,Z003,EXW,Ex-Works,NaN,STC,1002,Ambernath-DHONI,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3425,1000,30,21,ZUPT,2800000008,30,ZSRP,2019-03-17,7100001496,30,...,To Pay,0001,EXW,EX-WORKS,Self,Self,1002,Ambernath-DHONI,NaN,NaN
3426,1000,30,21,ZUPT,2800000008,50,ZSRP,2019-03-17,7100001766,20,...,TO PAY,0001,EXW,EX-WORKS,SELF,SELF,1002,Ambernath-DHONI,NaN,NaN
3427,1000,30,21,ZUTD,2800000009,10,ZSRP,2019-03-18,7100001505,10,...,TO PAY,0001,EXW,EX-WORKS,NaN,SELF,1001,Sikandrabad-DHONI,NaN,NaN
3428,1000,30,21,ZUPT,2800000010,10,ZSRP,2019-03-25,7100001664,10,...,TO PAY,0001,EXW,EX-WORKS,SELF,SELF,1002,Ambernath-DHONI,NaN,NaN
3429,1000,30,21,ZUTD,2800000011,10,ZSRP,2019-03-28,7100001773,10,...,TO PAY,0001,EXW,EX-WORKS,NaN,SELF,1001,Sikandrabad-DHONI,NaN,NaN

In [20]:
sales_data.shape

(3430, 76)

In [22]:
sales_data.isnull().sum()

Sales Organization         0
Distribution Channel       0
Division                   0
Sales Office               0
Sales Document             0
                        ...
Transporter Text          11
Plant                      0
Plant Name                 0
Storage location        3430
Storage Loc.Text        3430
Length: 76, dtype: int64